<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="My super totally awesome blog">
	<title>My super totally awesome blog</title>
	<style>
	#timing {
		margin: 50px 200px;
		height:400px;
		width: 200px;
	}	
	</style>
</head>
<body>
	<img width="100%" src="../static/images/legendary.jpg">
	<img src="../static/images/ts1.jpg">
	<img src="../static/images/ts2.jpg">
	<img src="../static/images/ts3.jpg">
	<div id="timing">
		<img src="../static/images/timing.jpg">
	</div>
</body>
</html>